/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require add_shelf_form
 *= require home_page_signed_in
 *= require home_page_signed_out
 *= require my_books_page
 *= require static_pages
 *= require edit_bookshelves
 *= require books_index
 *= require book_show
 *= require review
 *= require search
 *= require search_results
 *=
 *= require_self
 */

button:hover {
  cursor: pointer;
}

header {
  background: inherit;
}

input {
  border: 1px solid lightgray;
}

.logo {
  color: #382110;
}

footer.footer {
  background: #F4F1EA;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer span {
  display: block;
  width: 54%;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
}
