main.main {
  width: 100%;
  background: white;
}

div.all-books {
  width: 45%;
  min-width: 600px;
  margin: 0px auto;
}

a.book-item img {
  width: 115px;
  height: 180px;
  margin: 5%;
}

div.book-row-index {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

div.book-row-index:last-child {
  padding-bottom: 100px;
}
