img.book-show {
  width: 230px;
  height: 360px;
}

main.overall {
  width: 100%;
  background: white;
}

main.body {
  width: 50%;
  margin: 50px auto;
  font-size: 14px;
  font-family: Georgia;
  min-height: 900px;
}

main.main-content {
  display: flex;
}

section.main-content {
  margin-left: 10%;
  vertical-align: top;
}

section.main-content h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 9px;
}

section.main-content h4 {
  margin-bottom: 14px;
}

section.main-content p {
  font-size: 16px;
  line-height: 23px;
}

section.main-content a {
  font-weight: bold;
}

section.main-content a:hover {
  text-decoration: underline;
}

section.main-content li {
  margin-top: 10px;
}

div.book-show-fields-form {
  border-radius: 3px;
  height: 24px;
  width: 85%;
  border: 1px solid #dddddd;
  text-align: center;
  display: flex;
  position: relative;
  margin-top: 11px;
}

div.book-show-fields-form figure, div.book-show-fields-form figure button {
  font-size: 16px;
  color: #181818;
  text-align: center;
  width: 90%;
  font-family: 'Lato', sans-serif;
}

div.book-show-fields-form figure {
  padding-top: 2px;
}

div.book-show-fields-form .arrow {
  display: block;
  background: #409d69;
  height: 100%;
  width: 17%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  font-size: 8px;
  text-align: center;
}

section.activity {
  font-family: 'Lato', sans-serif;
}

h3.book-details-subheader {
  margin-top: 39px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
}

td.table-title {
  padding-right: 100px;
}

table.activity td {
  padding-top: 16px;
}

div.reviews {
  font-family: 'Lato', sans-serif;
}

div.activity-section-fields-form {
  position: relative;
}

td.review-row button:hover {
  text-decoration: underline;
}

td.table-title.review-title {
  vertical-align: top;
}

ul.reviews li section {
  font-weight: bold;
  font-size: 16px;
}


ul.reviews li p {
  font-weight: normal;
}

ul.reviews li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}

ul.reviews li.no-reviews {
  border: none;
}

button.add-review {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

p.description {
  padding-top: 10px;
}
