
div.signed-in-subheader {
  display: flex;
  margin-left: 15.6%;
  align-items: center;
  height: 100%;
}

div.signed-in-subheader button {
  display: block;
  height: 100%;
  padding: 0 16px;
}

div.signed-in-subheader button:hover {
  background: #382110;
  color: white;
}

nav.header {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 70%;
  height: 48px;
}

header.logo.signed-in {
  font-family: helvetica;
  font-size: 31px;
  background: #F4F1EA;
  height: 50px;
}

.logo-signed-in {
  font-size: 31px;
}

button {
  font-size: 16px;
}

header.signed-in {
  height: 52px;
}

nav a:first-child {
  padding-right: 16px;
}

nav a:not(:first-child) {
  padding: 15px 16px;
}

nav a:hover:not(:first-child) {
  background: #382110;
  color: white;
}

ul.sign-in-errors {
  display: block;
  position: absolute;
  background: white;
  top: 33px;
  left: 7px;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
}

div.sign-in {
  position: relative;
}
