.overall-header {
  background: #E0DDCA;
  /*margin: 0;*/
  /*width: 100%;*/
}

header.container {
  border-bottom: 1px solid lightgray;
  background: inherit;
}

header.home-page-signed-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24.3%;
  width: 51.5%;
  /*height: 100%;*/
}

form.sign-in input {
  font-size: 14px;
  background: white;
  /*width: 33%;
  margin-right: 1%;*/
  border-radius: 3px;
  /*padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;*/
}

form.signup input {
  font-size: 16px;
  background: white;
  /*width: 100%;
  height: 33px;
  margin-bottom: 6px;
  padding-left: 5px;*/
}

form.signup {
  margin-top: 60px;
  /*width: 100%;*/
}

button.big-gold {
  font-size: 18px;
  background: #fdd05f;
  /*padding: 9px 12px 9px 12px;
  width: 84px;*/
  border-radius: 3px;
  text-align: center;
}


.sign-in-button {
  background-color: #382110;
  color: white;
  /*width: 64px;
  height: 28px;*/
  font-size: 13px;
  /*margin-left: 2px;*/
  border-radius: 3px;
  text-align: center;
}

.big-gold.guest {
  display: block;
  position: absolute;
  /*top: 164px;
  left: 175px;*/
}

div.sign-up {
  display: flex;
  /*width: 975px;*/
  margin: 0 auto;
  /*height: 10%;*/
}

.big-text {
  font-size: 65px;
  color: #845443;
  font-weight: bold;
  text-align: center;
  margin-left: 28.9%;
  width: 28.3%;
}

h1.logo.signed-out {
  font-family: helvetica;
  font-size: 42px;
}


h2 {
  font-size: 18px;
  display: block;
}

section.sign-up {
  position: relative;
  /*margin-top: 35px;
  padding-left: 70px;*/
  /*width: 93%;*/
}

ul.sign-up-errors {
  display: block;
  position: absolute;
  background: white;
  /*padding: 5px;*/
  border-radius: 3px;
  border-style: solid;
  border-color: lightgray;
  /*border-width: 1px;
  top: 30px;*/
}
