div.my-books-content {
  width: 55%;
  margin: 0 auto;
}

div.my-books-page, div.edit-bookshelves-main {
  background: white;
  min-height: 1363px;
}

section.books-filtered-body {
  display: flex;
}

header.bookshelf-title-header, div.edit-bookshelves-main h1  {
  font-size: 22px;
  color: #00635d;
  padding: 17px 0px 8px 0px;
  font-family: Georgia;
  font-weight: bold;
}

header.bookshelf-title-header {
  height: 35px;
}

header.bookshelf-title-header {
  border-bottom: 1px solid #EBE8D5;
}

section.books-filtered-body nav {
  width: 20%;
}

table.my-books {
  width: 78%;
  border-collapse: collapse;
  margin-left: 20px;
}


nav.sidebar {
  border-right: 1px solid #EBE8D5;
  margin-top: 14px;
  height: 1245px;
  min-width: 120px;
}

ul.status-index {
  padding-bottom: 5px;
  border-bottom: 1px solid #EBE8D5;
  margin-right: 12px;
}


ul.bookshelf-index {
  padding-top: 5px;
}

h3.bookshelves-index-header, span.date-not-set, span.review-not-set {
  color: #aaa;
  display: inline;
  padding-bottom: 5px;
}

button.bookshelf-filter-link, span.editable-bookshelf-index-item button, button.cancel-date-form, button.fields-form-modal {
  color: #00635d;
  padding-bottom: 5px;
}

button.bookshelf-filter-link, span.editable-bookshelf-index-item {
  font-size: 14px;
}

button.cancel-date-form {
  font-size: 12px;
}

button.bookshelf-filter-link:hover {
  text-decoration: underline;
}

button.edit-bookshelves:hover {
  text-decoration: underline;
}
span.bookshelf-header {
  height: 24px;
}

span.bookshelf-header span {
  background: #F4F4EA;
  color: black;
  font-size: 17px;
  padding: 3px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

button.switch-to-all-books {
  background: #E9E5D3;
  color: gray;
  font-size: 17px;
  text-align: center;
  padding: 3px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table th {
  color: #382110;
  font-weight: bold;
  border-bottom: 2px solid #EBE8D5;
  font-size: 12px;
  height: 82px;
}


td.cover-col {
  width: 4.2%;
}

td.book-title-col {
  width: 17%;
}

td.book-author-col {
  width: 10%;
}

td.book-average-rating {
  width: 5%;
}

td.shelves {
  width: 17%;
  position: relative;
}

td.review {
  width: 17%;
}

td.date-read {
  width: 15%;
}

td.delete-book, button.close-modal {
  width: 2%;
  padding-right: 0px;
  text-align: center;
  color: gray;
}

td.delete-book button, button.delete-bookshelf {
  font-size: 12px;
  font-weight: bold;
}

td.my-books {
  padding-right: 12px;
  height: 77px;
  border-bottom: 1px solid #D6D0C4;
}

td.delete-book {
  padding: 10px;
  vertical-align: top;
  position: relative;
}

img.cover {
  height: 74px;
  width: 52px;
}

div h3 {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

div.delete-book-warning {
  position: absolute;
  width: 200px;
  left: 35px;
  top: 10px;
}

div.delete-book-warning button:hover {
  text-decoration: underline;
}

a.edit-bookshelves {
  font-size: 11px;
  color: #00635d;
}

a.edit-bookshelves:hover, td.date-read button:hover, td.review button:hover {
  text-decoration: underline;
}

div.fields-form, form.date-read{
  position: absolute;
  background: white;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  z-index: 100;
}

div.fields-form {
  padding: 5px 5px 15px 5px;
  width: 198px;
  max-height: 242px;
  overflow-y: scroll;
}

form.date-read {
  padding: 5px;
}

div.fields-form.from-book-show {
  top: 30px;
  right: 0px;
}


div.fields-form section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

div.fields-form button.close {
  color: #aaaaaa;
}

div.bookshelf-items {
  padding: 5px 0px;
}

div.bookshelf-items:last-child {
  padding-bottom: 5px;
}

div.fields-form > * {
  font-size: 12px;
}

div.fields-form span {
  color: #aaaaaa;
}


div.fields-form button:hover {
  text-decoration: underline;
}

.fields-form-add-shelf-toggle {
  color: #00635d;
  margin-top: 10px;
}

button.activity-section-edit-fields, button.review-row {
  margin-left: 5px;
  font-size: 12px;
  color: #767676;
}

button.activity-section-edit-fields:hover {
  text-decoration: underline;
}

div.radio-buttons {
  border-bottom: 1px solid #eee;
}

div.loading {
  background: white;
  min-height: 100vh;
}
