div.my-books-content {
  width: 54%;
  margin: 0 auto;
}

div.my-books-page {
  background: white;
  height: 900px;
}

section.books-filtered-body {
  display: flex;
}

header.bookshelf-title-header {
  height: 7.5%;
  font-size: 22px;
  color: #00635d;
  padding: 17px 0px 8px 0px;
  font-family: Georgia;
  font-weight: bold;
  border-bottom: 1px solid #EBE8D5;
}

section.books-filtered-body nav {
  width: 20.2%;
}

table {
  width: 81.3%;
}



nav.sidebar {
  border-right: 1px solid #EBE8D5;
  margin-top: 14px;
}

h3.bookshelves-index-header {
  color: #aaa;
  display: inline;
}

button.bookshelf-filter-link {
  font-size: 14px;
  color: #00635d;
  padding-top: 5px;
}

button.bookshelf-filter-link:hover {
  text-decoration: underline;
}

button.edit-bookshelves:hover {
  text-decoration: underline;
}

button.edit-bookshelves-button {
  display: inline;
}

span.bookshelf-header-description {
}

span.bookshelf-header-description span {
  background: #F4F4EA;
  color: black;
  height: 25px;
}

button.switch-to-all-books {
  background: #E9E5D3;
  color: gray;
  height: 25px;
  font-size: 22px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

table th {
  color: #382110;
  font-weight: bold;
}

th.cover-col {
  width: 5.5%;
}

th.book-title-col {
  width: 13.7%;
}

th.book-author-col {
  width: 8.6%;
}

th.book-average-rating {
  width: 3.8%;
}

img.cover {
  height: 100px;
}
