
div, h1, ul, li, form, input, a, button, header {
  color: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: inherit;
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  webkit-appearance: none;
}

button {
  border: none;
}

body {
  margin: 0;
  color: black;
  background: rgba(244,241,234,0.5);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
