img.cover-thumb {
  width: 98px;
  height: 150px;
}
div.modal {
  width: 100%;
  height: 100%;
}

div.main-modal {
  display: flex;
  height: 100%;
}

section.main-modal-content {
  margin-left: 20px;
  height: 100%;
  width: 100%;
  position: relative;
}

button.close-modal {
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 10px;
}

div.main-modal textarea {
  height: 35%;
  width: 96%;
  font-family: Georgia;
  font-size: 13px;
  padding: 2%;
}

div.main-modal form button {
  display: block;
}

button.delete-review {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}


section.main-modal-content h2 {
  margin-top: 7px;
  margin-bottom: 9px;
  font-family: Georgia;
}

section.main-modal-content figure {
  font-size: 13px;
}

section.main-modal-content header {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

section.main-modal-content div.fields-form-modal {
  padding-top: 20px;
  padding-bottom: 20px;
}

button.fields-form-modal {
  font-size: 13px;
  margin-bottom: 10px;
}

section.main-modal-content form {
  margin-top: 20px;
}

button.save {
  padding: 10px 13px;
  font-size: 13px;
  margin-top: 10px;
}

ul.errors {
  margin-top: 20px;
  height: 5px;
  vertical-align: bottom;
  color: red;
}

div.review-buttons {
  display: flex;
  justify-content: space-between;
}

div.fields-form.from-review-modal {
  max-height: 100%;
  overflow-y: scroll;
}
