ul.search-results {
  font-size: 10px;
  position: absolute;
  background: white;
  z-index: 50;
  font-family: 'Lato', sans-serif;
  border: 1px solid #eee;
  top: 35px;
}

div.search {
  width: 33%;
  position: relative;
  margin-left: 11%;
  display: flex;
}

div.search input {
  width: 76%;
  height: 32px;
  background: white;
  font-size: 14px;
  padding-left: 2%;
  border-right: none;
}

ul.search-results li.results {
  width: 222px;
  padding: 4px 9px 7px 9px;
  border-bottom: 1px solid #eee;
}

li.results.searchbar:hover {
  background: #F4F1EA;
  cursor: pointer;
}

li.results.searchpage h3:hover {
  text-decoration: underline;
  cursor: pointer;
}


li.results:last-child {
  border-bottom: none;
}

li.results h3 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
  color: #333333;
}

li.results span {
  font-size: 12px;
}

button.magnifying-glass {
  background: white;
  font-size: 14px;
  display: inline-block;
  height: 34px;
  padding-left: 3px;
  padding-right: 15px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
